@model Progress
@{
    ViewData["Title"] = "Progress";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
    .profile-header {
        background: linear-gradient(45deg, #ff416c, #ff4b2b);
        color: white;
        padding: 2rem;
        text-align: center;
    }

        .profile-header img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

    .profile-info {
        padding: 2rem;
    }

        .profile-info div {
            margin-bottom: 1rem;
        }

        .profile-info label {
            color: #888;
            font-size: 0.9rem;
        }

        .profile-info .value {
            font-size: 1.1rem;
            color: #888;
        }
</style>

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> @ViewData["Title"]</header>
    <div class="container mt-5">
        <div class="card">
            <div class="profile-header">

                <h2>@Model.Username.Split('@')[0]</h2>

            </div>
            <div class="profile-info">
                <div>
                    <label>Email:</label>
                    <div class="value">@Model.Username</div>
                </div>
                @* <div>
                <label>LEVEL</label>
                <div class="value">Beginner</div>
                </div> *@
                <div>
                    <label>Completed courses:</label>
                    <div class="value">@Model.SucceededTests</div>
                </div>
                <div>
                    <label>Beginner courses:</label>
                    <div class="value">@Model.BeginnerTests</div>
                </div>
                <div>
                    <label>Intermediate courses:</label>
                    <div class="value">@Model.IntermediateTests</div>
                </div>
                <div>
                    <label>Advanced courses:</label>
                    <div class="value">@Model.AdvancedTests</div>
                </div>
                <div>
                    <label>Avarage Beginner grade:</label>
                    <div class="value">@Model.BeginnerAverage</div>
                </div>
                <div>
                    <label>Avarage Intermediate grade:</label>
                    <div class="value">@Model.IntermediateAverage</div>
                </div>
                <div>
                    <label>Avarage Advanced grade:</label>
                    <div class="value">@Model.AdvancedAverage</div>
                </div>
                <div>
                    <label>Total grade:</label>
                    <div class="value">@Model.TotalGrade</div>
                </div>
                <div>
                    <label>Avarage grade:</label>
                    <div class="value">@Model.AverageGrade</div>
                </div>
                @* <div>
                    <label>Total time:</label>
                    <div class="value">@Model.TotalTime</div>
                </div> *@
                <div>
                    <label>Last update:</label>
                    <div class="value">@Model.DateTime</div>
                </div>
            </div>
        </div>
    </div>
    <br />
</body>
